.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and(min-width:768px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:1200px) {
    width: 570px;
    height: 86px;

    margin-top: 0;
    margin-right: 0;
    align-items: baseline;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @media screen and(min-width:1200px) {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $other-title-text-color;
  }

  &__input {
    padding: 15px 16px 16px 15px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $subscribe-bg-color;
    transition: border-color 250ms $timing-function;
    color: $primary-text-color;
    outline: none;
    margin-bottom: 20px;

    @media screen and(max-width:479px) {
      max-width: 290px;
    }

    @media screen and(min-width:780px) {
      width: 450px;
    }

    @media screen and(min-width:1200px) {
      width: 358px;
    }
  }

  &__input:hover,
  &__input:focus {
    border-color: $accent-color;
  }

  &__icon {
    fill: #fff;
    margin-left: 8px;

    @media screen and(min-width:1200px) {
      margin-left: 10px;
    }
  }

  &__button {
    background-color: $accent-color;
    color: $other-title-text-color;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    margin-right: 0;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 250ms $timing-function,
      background-color 250ms $timing-function;

    @media screen and(min-width:1199px) {
      margin-left: 12px;
    }
  }

  &__button:hover,
  &__button:focus {
    background-color: $submit-button-background-hover;
  }
}
