.footer {
  padding: 60px 0;
  background-color: $footer-background-color;

  &__logo {
    display: inline-block;
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    margin-bottom: 20px;

    @media screen and(min-width:768px) {
      font-size: 26px;
      line-height: 1.2;
    }
  }

  &__logo--white {
    color: #ffffff;
  }

  &__logo:hover,
  &__logo:focus {
    color: $accent-color;
  }

  &__contacts-list {
    list-style: none;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and(min-width:768px) {
      display: block;
      margin-bottom: 0;
    }
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__contacts-link {
    display: inline-block;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms $timing-function;
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    color: $accent-color;
  }
}

.footer-container--position {
  display: flex;

  @media screen and(min-width:768px) {
    align-items: baseline;
  }

  @media screen and(max-width:1199px) {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and(min-width:1200px) {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
  }
}

.container-adress {
  @media screen and(max-width:768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and(max-width:1199px) {
    text-align: center;
  }
}

.footer__container--tablet-position {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 165px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:1200px) {
    gap: 0;
    margin-left: 0;
    margin-right: 0;
    gap: 82px;
  }
}
