.page-header {
  border-bottom: 1px solid $page-header-border-color;

  &__site-nav--container {
    display: flex;
    align-items: center;
  }

  &__site-nav {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration-line: none;
  }

  &__mobile-menu {
    border: none;
    background-color: inherit;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__logo--black {
    color: #2f303a;
  }

  &__logo:hover,
  &__logo:focus,
  &__logo:active {
    color: $accent-color;
  }
}
